.counter {
    width: 100px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 4ox;
    padding: 20px;
    margin: 0 20px 20px 0;
    float: left;
}

.hover {
    background: gray;
    transition-duration: 300ms;
}